body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
}

.nav {
  background-color: aquamarine;
  text-align: right;
  padding: 1rem;
}

.navlink {
  text-decoration: none;
  margin: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  max-width: 300px;
}

.list {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.explore-btn {
  background-color: cornflowerblue;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 16px;
  border: none;
}
